doctype html
html(lang='fr')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Objectifs à atteindre
  body
    include utils/navbar.pug
    .container
      h1.h1.text-center Les Objectifs à atteindre
      h2.h2.text-center
        | Un Objectif est une formule qui clarifie et précise ce que vous voulez, facilitant le travail de votre cerveau qui va utiliser la Simulation mentale pour Visualiser le résultat souhaité. Si la Finalité que vous désirez atteindre est vague, floue ou confuse, les systèmes de planification automatique de votre cerveau vont avoir du mal à vous donner les moyens d'obtenir ce que vous voulez. Des Objectifs précis jouent également un rôle clé dans la Motivation : plus votre Objectif est clairement défini, plus vous êtes motivés à faire ce qu'il faut faire pour l'atteindre.
      h3.h3.text-center
        | Les Ojectifs sont particulierement utiles s'ils sont Cadrés de manière positive, immédiate, concrète et spécifique.
      p
        | La formulation 
        span positive
        |  fait référence à la Motivation: vous devez être attirés par votre Objectif, et non vouloir vous en éloigner : "Je ne veux plus être gros" doit être tourné en "Je veux avoir un corps de rêve". Cela ne vous fait pas tomber dans le piège de la 
        a(href='#') Concentration sur la menace
        |.
      p
        | La formulation immédiate fait référence au temps: votre Objectif doit être quelque chose que vous décidez de faire ici et maintenant, pas "un de ces jours" ni "plus tard". Si ce n'est pas le cas, inscrivez-le sur la liste des choses que vous aimeriez faire un jour et focalisez-vous sur autre chose.
      p
        | La formulation concrete signifie que vous verrez le résultat dans le monde réel. Les Objectifs tel que "Je veux être heureux" sont à bannir (
        a(href='#') voir comment transformer ses objectifs
        | ).
      p
        | La formulation spécifique spécifique signifie que vous pouvez définir exactement quel Objectif vous voulez atteindre, quand et où. Monter une société à une date précise dans un futur proche permet à votre cerveau de savoir comment il va s'y prendre pour s'efforcer d'y parvenir.
      .text-center
        a(href="#")
          button.btn.btn-primary(type='button') Créer mon Objectif
