<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Objectifs à atteindre</title>
  </head>
  <body>
    <h1>Les Objectifs à atteindre</h1>
    <h2>Un Objectif est une formule qui clarifie et précise ce que vous voulez, facilitant le travail de votre cerveau qui va utiliser la Simulation mentale pour Visualiser le résultat souhaité. Si la Finalité que vous désirez atteindre est vague, floue ou confuse, les systèmes de planification automatique de votre cerveau vont avoir du mal à vous donner les noyens d'obtenir ce que vous voulez. Des Objectifs précis jouent également un rôle clé dans la Motivation : plus votre Objectif est clairement défini, plus vous êtes motivés à faire ce qu'il faut faire pour l'atteindre.</h2>
    <h3>Les Ojectifs sont particulierement utiles s'ils sont Cadrés de manière positive, immédiate, concrète et spécifique.</h3>
    <p>La formulation <span>positive</span> fait référence à la Motivation: vous devez être attirés par votre Objectif, et non vouloir vous en éloigner : "Je ne veux plus être gros" doit être tourné en "Je veux avoir un corps de rêve". Cela ne vous fait pas tomber dans le piège de la <a href="#">Concentration sur la menace</a>.</p>
    <p>La formulation <span>immédiate</span> fait référence au temps: votre Objectif doit être quelque chose que vous décidez de faire ici et maintenant, pas "un de ces jours" ni "plus tard". Si ce n'est pas le cas, inscrivez-le sur la liste des choses que vous aimeriez faire un jour et focalisez-vous sur autre chose.</p>
    <p>La formulation <span>concrete</span> signifie que vous verrez le résultat dans le monde réel. Les Objectifs tel que "Je veux être heureux" sont à bannir (<a href="#">voir comment faire</a>).</p>
    <p>La formulation <span>spécifique</span> spécifique signifie que vous pouvez définir exactement quel Objectif vous voulez atteindre, quand et où. Monter une société à une date précise dans un futur proche permet à votre cerveau de savoir comment il va s'y prendre pour s'efforcer d'y parvenir.</p>
  </body>
</html>
