nav.navbar.navbar-inverse(style="border-radius: 0px;")
  .container-fluid
    .navbar-header
      a.navbar-brand(href='index') Pcartau.fr
    ul.nav.navbar-nav
      li.active
        a(href='index') Home
      li.dropdown
        a.dropdown-toggle(data-toggle='dropdown', href='#')
          | Développement personnel
          span.caret
        ul.dropdown-menu
          li
            a(href='objectifs') Objectifs
          li
            a(href='#') Actions prioritaires
          li
            a(href='#') Actions secondaires
      li.dropdown
        a.dropdown-toggle(data-toggle='dropdown', href='#')
          | MBA
          span.caret
        ul.dropdown-menu
          li
            a(href='#') Création de valeur
          li
            a(href='#') Marketing
          li
            a(href='#') Vente
      li
        a(href='idea_estimator') Estimateur d'idée
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
